@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    color:#7e7e7e;
}
h1,h2,h3,body,button {
	font-weight:normal;
	font-family:Arial;
}
a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    outline: 0;
    color: inherit
}
a img {
    border: 0
}
input {
    outline: 0;
    border: 0
}
input[type="text"],input[type="password"],input[type="search"] {
	max-width:220px;
	width:100%;
	margin: 10px 0;
	height:25px;
	border: 1px solid #c2c2c2;
}
button {
    border: 1px solid #c2c2c2;
    outline: 0;
    cursor: pointer;
    background:#fff;
    color:#000;
    padding: 0 12px;
    height:30px;
}
select {
    outline: 0
}
hr {
    border: none;
    height: 1px;
    color: #c2c2c2;
    background-color: #c2c2c2
}

h1 {
	margin:8px 20px;	
	font-weight:normal;
}
h2 {	
	font-size:14px;
}
.separator {
	height:40px;
	background:#83ff4c;	
}
#container {
	font-size:12px;
	min-width:320px;
	max-width:595px;
	margin:0 auto;
	background:#eee;
}
#container > section {
	margin: 10px 10px 0;
}
.form-wrapper {
	padding: 12px 0;
}

section.page {
	display:none;
}

#listings,  #list-listings{
	list-style:none;
	padding:0;
	margin:0;	
}

#listings li,  #list-listings li {
	margin:5px;
	display:inline-block;
	padding:2px;
	border: 1px solid #c2c2c2;
	background:#fff;
}
#listings li > img, ,  #list-listings li > img {
	margin:0 auto;
	height:160px;
	width:auto;
}
#details-page label {
    color: #000;
}